@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #eee;
    padding: 3rem;
}

.wrapper {
    max-width: 800px;
    margin: 5rem auto;
    padding: 2rem;
}

.task-form {
    text-align: center;
    background: #fff;
    padding: 2rem;
    border-radius: 2px;

    h1 {
        margin-bottom: 2rem;
        font-size: 1.5rem;
    }

    .add-box {
        width: 100%;
        display: flex;
        flex-direction: column;

        input {
            width: 100%;
            all: unset;
            border: solid 1px #eee;
            border-radius: 2px;
            padding: 1rem 1.2rem;
            text-align: left;
        }
    
        button {
            all: unset;
            background: #008ea4;
            padding: 1rem 2rem;
            cursor: pointer;
            border-radius: 2px;
            color: #fff;
            width: 20%;
            min-width: 200px;
            margin: 1rem auto 0;
            
            &:hover {
                opacity: .8;
            }
        }
    }
}

.single-task {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    padding: 2rem;
    margin-top: 2rem;

    h2 {
        font-size: 1.2rem;
        font-weight: normal;

        span {
            i {
                color: #02a870;
            }
        }
    }
}

.task-links {
    a {
        color: #0279c8;
        text-decoration: none;
    }
    button {
        all: unset;
        margin-left: .5rem;
        cursor: pointer;
        color: rgb(210, 2, 2);
    }
}