@charset "utf-8";

:root {
    --yellow: #ffe432;
    --light-black: #343434;
    --black: #292929;
    --dark-black: #232323;
    --deep-black: #1f1f1f;
    --light-gray: #9e9e9e;
    --dark-gray: #5d5d5d;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background: var(--dark-black);
}

body {
    background-image: radial-gradient(circle at center center, transparent, rgb(33, 33, 33)), repeating-linear-gradient(135deg, rgb(33, 33, 33) 0px, rgb(33, 33, 33) 2px, transparent 2px, transparent 10px, rgb(33, 33, 33) 10px, rgb(33, 33, 33) 11px, transparent 11px, transparent 21px), repeating-linear-gradient(45deg, rgb(47, 47, 47) 0px, rgb(47, 47, 47) 4px, transparent 4px, transparent 8px), linear-gradient(90deg, rgb(33, 33, 33), rgb(33, 33, 33));
    padding: 3rem;
    min-height: 100vh;

    @media (width <=800px) {
        padding: 3rem 4%;
    }
}

.wrapper {
    max-width: 800px;
    margin: 0 auto;
}

header {

    h1 {
        text-align: center;
        font-size: 1.5rem;
        color: #fff;

        @media (width <=800px) {
            font-size: 1rem;
        }
    }
}

.task-form {
    margin-top: 2rem;
    text-align: center;
    background: var(--deep-black);
    padding: 3rem;
    border-radius: 2px;
    box-shadow: #302f2f 0px 8px 0px 0px;

    @media (width <=800px) {
        padding: 3rem 4%;
    }

    .add-box {
        width: 100%;
        display: flex;
        flex-direction: column;
        color: #fff;

        input[type="text"] {
            width: 100%;
            all: unset;
            padding: 1rem 1.2rem;
            text-align: left;
            color: #fff;
            border-bottom: 1px solid var(--light-gray);
            background: var(--dark-black);

            &:focus {
                background: var(--light-black);
                border-bottom: 1px solid var(--dark-black);
            }

            &::placeholder {
                color: #606060;
            }
        }
    }

    button.form-submit {
        text-align: center;
        all: unset;
        background: var(--yellow);
        padding: 1rem 2rem;
        cursor: pointer;
        border-radius: 2px;
        color: var(--dark-gray);
        width: 20%;
        min-width: 80px;
        margin: 3rem auto 0;
        transition: all .4s ease-in-out;

        &:hover {
            opacity: .8;
        }
    }

    .edit-title {
        color: var(--yellow);
        margin-bottom: .3rem;
        
        span {
            display: block;
        }
    }

    .edit-id-box {
        text-align: left;
        margin-bottom: 2rem;
        color: #fff;
    }

    .edit-input-box {
        text-align: left;
        width: 100%;
        margin-bottom: 2rem;

        label {
            display: flex;
            flex-direction: column;
        }

        input[type="text"] {
            width: 100%;
            all: unset;
            padding: 1rem 1.2rem;
            text-align: left;
            color: #fff;
            border-bottom: 1px solid var(--light-gray);
            background: var(--dark-black);

            &:focus {
                background: var(--light-black);
                border-bottom: 1px solid var(--dark-black);
            }

            &::placeholder {
                color: #606060;
            }
        }
    }

    .edit-checkbox-box {
        text-align: left;
    }
}

.form-alert {
    font-size: 1rem;
    color: var(--yellow);
    margin-top: 1rem;
}

.goto-top {
    color: var(--yellow);
    text-align: center;
    margin-top: 2rem;
    display: block;
    transition: all .4s ease-in-out;

    &:hover {
        text-decoration: none;
    }
}

.tasks {
    margin-top: 3rem;

    .empty-message {
        color: var(--yellow);
        text-align: center;
        font-size: 1rem;
    }

}

.single-task {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--deep-black);
    padding: 2rem;
    margin-top: 2rem;
    box-shadow: #302f2f 0px 8px 0px 0px;

    h2 {
        font-size: 1rem;
        font-weight: normal;
        color: #fff;
    }
    .fa-check-circle {
        font-size: 1rem;
        visibility: hidden;
        color: var(--yellow);
    }
}

.task-completed {
    .fa-check-circle {
        visibility: visible;
    }
    h2 {
        color: #b5b5b5;
    }
}

.task-links {
    a {
        color: #fff;
        text-decoration: none;
        transition: all .4s ease-in-out;

        &:hover {
            opacity: .8;
        }
    }

    button {
        all: unset;
        margin-left: .5rem;
        cursor: pointer;
        color: #fff;
        transition: all .4s ease-in-out;

        &:hover {
            opacity: .8;
        }
    }
}